<!--/.col-->
<div class="col " style="margin-top: 350 px" > 

    <div class="card">
      <div class="card-header">
        <i class="fa fa-user     "></i>  Coach's List
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>nom Complet</th>
              <th>Demail</th>
              <th>Username</th>
              <th>Birthday</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor ="let coach of coachs">
              <td>{{coach.prenom}} {{coach.nom}}</td>
              <td>{{coach.email}}</td>
              <td>{{coach.username}}</td>
              <td>{{coach.dateNaissance}}</td>
              <td>
                <span *ngIf= "coach.accountNonExpired" class="badge badge-success">Active</span>
                <span *ngIf= "!coach.accountNonLocked" class="badge badge-danger">Locked</span>
                <span *ngIf= "!coach.credentialsNonExpired" class="badge badge-warning">Credentials Expired</span>
              </td>
              <td>
                  <button class="btn btn-success mr-3 btn-sm" (click)="edit(coach.username)" > <i class="fa fa-pencil"></i> Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteUser(coach.id)"> <i class="fa fa-trash"></i> Delete</button>
                </td>
            </tr>
         
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  <!--/.col-->