<div class="card-body">
  <div class="row justify-content-center mb-3">
    <h4 class="card-title">Achievements</h4>
  </div>
  <div class="row justify-content-center" >
    <div class="col-md-4 col-sm" style="text-align: center !important">
        <i class="icon-trophy" style="font-size:50px"></i>
      <h5>Achievement 1</h5>
      <div class="mb-3">Congrats! You have achieved you first muscle up!</div>
    </div>
    <div class="col-md-4 col-sm" style="text-align: center !important">
        <i class="icon-trophy" style="font-size:50px"></i>
      <h5>Achievement 2</h5>
      <div class="mb-3">Great ! You have completed the 1 min pull up challenge!</div>
    </div>
       <div class="col-md-4 col-sm" style="text-align: center !important">
        <i class="icon-trophy" style="font-size:50px"></i>
      <h5>Achievement 3</h5>
      <div class="mb-3">You have taken it to the next level ! First time doing superman pushup</div>
    </div>
       <div class="col-md-4 col-sm" style="text-align: center !important">
        <i class="icon-trophy" style="font-size:50px"></i>
      <h5>Achievement 4</h5>
      <div class="mb-3">You are becoming a legend! First time performing front lever</div>
    </div>
       <div class="col-md-4 col-sm" style="text-align: center !important">
        <i class="icon-trophy" style="font-size:50px"></i>
      <h5>Achievement 5</h5>
      <div class="mb-3">You are a beast! Keep up the great work!</div>
    </div>
  </div>
</div>
