<div class="app-body " style="margin-top : 100px ; ">
    <main class="main d-flex align-items-center">
      <div class="container">
          <div class="col">
              <div class="card">
                <div class="card-header">
                  <strong>Add an exercice </strong> 
                </div>
                <div class="card-body">
            
                    <form   [formGroup]="exerciceData">
                        
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                          </div>
                          <input  type="text" formControlName="name" class="form-control"  autocomplete="name"  id="name" placeholder="name "
                          required>
                        </div>
                    
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-note"></i></span>
                          </div>                    
                         <textarea name="description" id="description" cols="10" rows="3" formControlName="description" class="form-control" placeholder="description"></textarea>
                        </div>
                     
                          
                        </form>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn  btn-success mr-3" (click)= "onSubmit()"><i class="fa fa-dot-circle-o"></i> Submit</button>
                  <button type="reset" class="btn  btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
                
              </div>
            </div>
      </div>
    </main>
  </div>
  