

  <div class="row">
    <div class="col   col-md-6 mt-3 mr-3" style="padding-left: 35px !important">    
        <div class="row card" >
            <app-stats></app-stats>
        </div>  
        <div class="row card">
            <app-goal></app-goal>       
         </div>  
         <div class="row card">
            <app-achievements></app-achievements>
        </div>  
    </div>
    <div class="col-auto   justify-content-center ml-3" style="padding-right: 0 !important;padding-left: 0px !important">    
       
       <div class="row mb-4" >
          <app-calendar></app-calendar>
      </div> 
     
       
    </div>
    <div class="col order-first  order-lg-last ml-3  ">     
        <app-tasks></app-tasks>
    </div>
  
  </div>
